<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.xuanwu.web.common.dao.mapper.SysLogMapper">

	<!-- entity 用户操作历史信息(日志)表(gsms_user_operation_history) -->
	<resultMap id="logResult" type="com.xuanwu.web.common.entity.SystemLog">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="actionName" column="action_name" />
		<result property="areaName" column="area_name" />
		<result property="controllerName" column="controller_name" />
		<result property="content" column="content" />
		<result property="formMethod" column="form_method" />
		<result property="operateTime" column="operate_time" />
		<result property="operationObj" column="operation_obj" />
		<result property="operationType" column="operation_type" />
		<result property="enterpriseId" column="enterprise_id" />
		<result property="remark" column="remark" />
	</resultMap>
	
	<!-- 根据所给参数，查询出符合条件的日志的条数 -->
	<select id="findSysLogCount" resultType="int">
		select
		count(*)
		from gsms_user_operation_history
		where
		1=1
		<if test="startTime!=null ">and operate_time &gt;=#{startTime}</if>
		<if test="endTime!=null">and operate_time &lt;=#{endTime}</if>
		<if test="userName!=null  and userName!=''">and user_name like concat('%',#{userName},'%')</if>
		<if test="operationType!=null">and operation_type like concat('%',#{operationType},'%')</if>
		<if test="operationObj!=null and operationObj!=''">and operation_obj like concat('%',#{operationObj},'%')</if>
		<if test="enterpriseId  > 0 ">and enterprise_id=#{enterpriseId}</if>
	</select>

	<!-- 根据所给参数，分页查询日志 -->
	<select id="findSysLog" resultMap="logResult">
		select
		id,user_name,operation_type,operation_obj,operate_time,content,remark
		from
		gsms_user_operation_history
		where
		1=1
		<if test="startTime!=null ">and operate_time &gt;=#{startTime}</if>
		<if test="endTime!=null">and operate_time &lt;=#{endTime}</if>
		<if test="userName!=null  and userName!=''">and user_name like concat('%',#{userName},'%')</if>
		<if test="operationType!=null">and operation_type like concat('%',#{operationType},'%')</if>
		<if test="operationObj!=null  and operationObj!=''">and operation_obj like concat('%',#{operationObj},'%')</if>
		<if test="enterpriseId > 0 ">and enterprise_id=#{enterpriseId}</if>
		order by operate_time desc
		<if test="reqNum>0">limit #{offset},#{reqNum}</if>
	</select>
	
	<!-- 根据id,查询出 出符合条件的日志-->
	<select id="findsysLogById" resultMap="logResult">
		select * from
		gsms_user_operation_history
		where id=#{sysLogId}
	</select>
	
	<select id="findLastLoginLogByUserId" resultMap="logResult">
		select id,user_id,user_name,action_name,content,max(operate_time) as operate_time from gsms_user_operation_history
		where user_id=#{userId} and operation_type=8
	</select>

	<insert id="addSysLog" parameterType="com.xuanwu.web.common.entity.SystemLog">
		insert into gsms_user_operation_history(user_id, operate_time, area_name, controller_name, action_name, remark, user_name, operation_type,
             operation_obj, content, form_method, enterprise_id)
		values (#{userId}, #{operateTime}, #{areaName}, #{controllerName}, #{actionName}, #{remark},
        	#{userName}, #{operationType}, #{operationObj}, #{content}, #{formMethod}, #{enterpriseId})
	</insert>
	
	<select id="findEntSysLogByEnterpriseId" resultMap="logResult">
		select user_name,operate_time
		from gsms_user_operation_history
		where enterprise_id=#{enterpriseId}
		order by operate_time desc
		limit 1
	</select>
</mapper>